<!--
<div class="" style="width: 18rem;">
  <img 
  src="./assets/products/{{item.image}}" 
  class="card-img-top img-fluid"
  alt="Product Image"
  style="height: 300px; width: 100%; object-fit: cover;">

  <div class="card-body">
    <h5 class="card-title">Card title</h5> 
    <p class="card-text text-light"><small>{{item.price}} $</small></p>
    <button class="btn btn-danger">Add to cart </button>
  </div>
</div> -->

<div class="card bg-dark" style="width: 18rem;">
  <img src="./assets/products/{{item.image}}" class="card-img-top" alt="..." height="250px" width="100px">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text text-light"><small>{{item.price}} $</small></p>
    <button class="btn btn-danger">Add to cart</button>
  </div>
</div>